/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0px;
  box-sizing: border-box;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #040404;
  color: #f6f6f6;
}

body.home {
  background-image: url("media/1.png"), url("media/2.png");
  background-size: cover;
  transition: background-image 0.5s ease;
}

body.renders {
  background-color: #f6f6f6;
  color: #040404;
}


/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  justify-content: center;
}

6. Remove built-in form typography styles */ input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 106px;
  margin-left: 56px;
}

p.homeP{
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 21px;
  width: 680px;
  text-align: right;
  margin-right: 56px;
  margin-bottom: 56px;
}

.everything {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
}

.everything.home{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  aspect-ratio: 100vw;
}

.right-align{
  display: flex;
  width: 100%;
  justify-content: end;
}

body.selected {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  color: #040404;
  background-image: url("media/2.png"), url("media/1.png");
  background-size: cover; 
  transition: background-image 0.5s ease;
}

#image{
  position:absolute;
  pointer-events: none;
  z-index: 5000;
}

.hfFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.currentSimHeading {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.currentSimHeading1 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.button {
  background-color: #040404;
  border: 2px solid #f6f6f6;
  color: #f6f6f6;
  height:70px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.simStepsVis {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.layoutDecisions {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.button1 {
  background-color: #f6f6f6;
  border: 2px solid #f6f6f6;
  color: #040404;
  font-weight: 700;
}

.button-right {
  background-color: #040404;
  border: 2px solid #f6f6f6;
  color: #f6f6f6;
  height: 70px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  aspect-ratio: 9 / 5;
  border-radius: 56px;
  cursor: pointer;
}

.button-right.home-render {
  background-color: #f6f6f6;
  border: 2px solid #040404;
  color: #040404;
}

button:only-child {
  font-weight: 700;
}

.buttons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.buttons1.keys2 {
  width: 272px;
}

.buttons1.keys3 {
  width: 420px;
}

.button-middle {
  background-color: #040404;
  border: 2px solid #f6f6f6;
  color: #f6f6f6;
  height: 70px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  aspect-ratio: 9 / 5;
  border-radius: 56px;
}

.hfFlex.head {
  margin-bottom: 25px;
}

.hfFlex.foot-render {
  margin-top: 25px;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.siteImages {
  margin: 10px;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: row;
  height: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sliderText {
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.sliderText-value {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.buttons2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons2.textures {
  width: 420px;
  align-items: flex-end;
}

.texture1 {
  background-image: url("media/tex1.png");
  background-size: cover;
  background-position-y: -25px;
  transition: background-image 0.5s ease;
}

.texture1:hover {
  background-image: url("media/tex1op.png");
}

.texture2 {
  background-image: url("media/tex2.png");
  background-size: cover;
  background-position-y: -25px;
  transition: background-image 0.5s ease;
}

.texture2:hover {
  background-image: url("media/tex2op.png");
}

.texture3 {
  background-image: url("media/tex3.png");
  background-size: cover;
  background-position-y: -25px;
  transition: background-image 0.5s ease;
}

.texture3:hover {
  background-image: url("media/tex3op.png");
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 180px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: #f6f6f6;
   height: 2px;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -6px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: #040404;
   height: 14px;
   width: 14px;
   border: 1px solid #f6f6f6;
   border-radius: 50%;
}


/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: #f6f6f6;
   height: 2px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: 1px solid #f6f6f6; /*Removes extra border that FF applies*/
   border-radius: 50%; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   background-color: #040404;
   height: 14px;
   width: 14px;
}

.options {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-between;
}

.currentSimHeading.current-scroll {
  border: 2px solid #040404;
  padding: 5px;
  width: 120px;
  text-align: center;
  border-radius: 30px;
}

.currentSimHeading.scroll {
  border: 2px solid #f6f6f6;
  padding: 5px;
  width: 120px;
  text-align: center;
}

.title.scroll{
  border-top: 2px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.pages {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
}

.pages.about {
  background-image: url("media/about.png");
  background-size: cover;
}

.pages.layouts {
  background-image: url("media/layouts.png");
  background-position-y: -300px;
  background-size: cover;
  margin-top: 50px;
}

.pages.interiors {
  background-image: url("media/interiors.png");
  background-position-y: -150px;
  background-size: cover;
  margin-top: 50px;
}

.pages.exterior {
  background-image: url("media/exteriors.png");
  background-position-y: -150px;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
}

.render-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 600px;
  height: 100%;
}

.render-text.exterior-text {
  justify-content: flex-end;
}

.about-img {
  width: 80vw;
  height: auto;
}

.floor, .exhibit {
  background-color: #f6f6f6;
  border: 2px solid #040404;
  color: #040404;
  height:90px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
}

.floor1, .exhibit1 {
  background-color: #040404;
  border: 2px solid #040404;
  color: #f6f6f6;
  font-weight: 700;
}

.floors, .exhibits {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  width: 310px;
  justify-content: space-between;
} 

.layouts-column, .interiors-column {
  margin-left: 50px;
}

.layoutsHeading {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

#message {
    position: absolute;
    bottom: 140px;
    right: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.structural-sim-model {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 80vh;
}

model-viewer1 {
  width: 80vw;
  height: 60vh;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -21;
}

model-viewer2 {
  width: 80vw;
  height: 60vh;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;
}

model-viewer3 {
  width: 80vw;
  height: 60vh;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -22;
}

.slider-with-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.video-content {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  heignt: 80vh;
}

#videoPlayer {
    width: auto;
    height: 72vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: -19;
}

#videoPlayer1 {
    width: auto;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    z-index: -19;
}

.start-sim-message {
  position: absolute;
  z-index: -40;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;

}